.wrapper {
    display: block;
    text-align: center;
}

.app-conteiner {
    height: 98vh;
    grid-template-columns: minmax(300px, 500px);
    grid-template-rows: minmax(40px, 70px) 1fr minmax(40px, 70px);
    background-color: var(--components-background-color);
}

.content-conteiner {
    align-self: start;
}