.header-bar {
    display: inline-block;
    max-width: 500px;
    width: 80%;
    text-align:center;
    margin: 1rem;
}

.header-bar h1 {
    font-size: 2rem;
    color: var(--added-detail-color);
    margin: 0.4rem 0;
    text-transform: uppercase;
    font-family: 'Indie Flower', cursive;
}