.is-not-paid p {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.9rem;
}

.is-not-paid input {
    font-size: 0.8rem;
    font-family: 'Kreon', serif;
    letter-spacing: 0.07rem;
    background-color: var(--components-background-color);
    border: none;
    color: var(--main-detail-color);
    width: 40%;
    text-align: center;
}

.is-not-paid .button {
    display: inline;
    margin: 5px;
}