.select-size {
    margin: 1rem 0 0.5rem 0;
    justify-items: center;
}

.select-size:hover .info {
    display:inline
}

.inputs {
    grid-template-columns: auto auto auto;
}

.inputs label {
    padding: 0.5rem;
}

.inputs .button {
    margin: 0.5rem;
}

.info {
    display: none;
    justify-content: center;
    font-size: 0.6rem;
    margin: 0 0 0 0;
}