:root {
    font-family: 'Kreon', serif;
    background-color: var(--main-background-color);
    letter-spacing: 0.07em;
    --main-background-color: #303030;
    --components-background-color: #272727;
    --main-detail-color: #14A76C;
    --small-detail-color: #FF652F;
    --border-detail-color: #747474;
    --added-detail-color: #FFE400;
    color: var(--main-detail-color);

}

.solid-border {
    border: solid 2px var(--main-detail-color);
}

.thin-border {
    border: solid 1px var(--main-detail-color);
    
}

.grid {
    display: grid;
    justify-items: center;
    align-items: center;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center; 
}

a {
    color: var(--main-detail-color);
    margin: 5px;
}

a:hover {
    color: var(--small-detail-color);
}

.grid-element {
    border: solid 1px var(--main-detail-color);
}

.margin {
    margin: 5px;
}

.borderbox {
    box-sizing: border-box; 
}
 
