:root {
    font-family: 'Kreon', serif;
    letter-spacing: 0.07em;
    --main-background-color: #303030;
    --components-background-color: #272727;
    --main-detail-color: #747474;
    --small-detail-color: #FF652F;
    --border-detail-color: #FFE400;
    --added-detail-color: #14A76C;
}

.conteiner {
    width: 98vw;
    margin: 1vh;
    background-color: var(--main-background-color);
}

.bar-out {
    width: 100vw;
    max-width: 1000px;
    padding: 10px;
    margin: 0px auto;
    background-color: var(--components-background-color);
}

.bar-in {
    display: flex;
    justify-content: space-around;
    color: var(--main-detail-color);
    border: solid 2px var(--main-detail-color);
    padding: 10px;
    height: 100%;
}

.header-button {
    width: 100px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    font-size: 16px;
    letter-spacing: 0.07em;
    color: var(--main-detail-color);
    border: solid 1px var(--main-detail-color);
    background-color: var(--components-background-color);
}

.header-button:hover {
    color: var(--small-detail-color);
    border: solid 1px var(--small-detail-color);
}

.header-button:focus {
    outline: none;
}

.header-content {
    color: var(--added-detail-color);
    text-align: center;
    text-transform: uppercase;
    font-family: 'Indie Flower', cursive;
    font-size: 40px;
}

.footer-wrapper {
    display: flex;
    justify-content: center;
    align-items: center; 
}

a {
    color: var(--main-detail-color);
    margin: 5px;
}

a:hover {
    color: var(--small-detail-color);
}

.grid {
    display: grid;
    grid-template-columns: repeat(250, 3px);;
    grid-auto-rows: 3px;
    border: solid 2px var(--main-detail-color);
}

.grid-element {
    border: solid 1px var(--main-detail-color);
}

.select-color-box {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-row-gap: 15px;
    justify-items: center;
    align-items: center;
    border: solid 2px var(--main-detail-color);
}

.selected-color-text {
    padding: 5px;
    padding-left: 10px;
}

.selected-color {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-column-gap: 10px;
    justify-items: center;
    align-items: center;
}

.colors-to-select {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-column-gap: 10px;
    justify-items: center;
    align-items: center;
}

.box {
    width: 15px;
    height: 15px;
    border: solid 1px var(--main-detail-color);
}

.canva-box {
    width: 100%;
    display: grid;
    justify-content: center;
    
}

.canva {
    display: inline-grid;
    grid-template-rows: 15px;
    grid-auto-rows: 15px;
}
